
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    /* width: 98vw; */
    /* border: 1px solid black; */
}
.body-container{
    width: 80%;
    /* border:1px solid black; */
}
.btn{
    flex-basis: 95%;
    height: 60%;
    border-color: transparent;
    border-radius: 2em;
    color: white;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}
.btn:hover{
    cursor: pointer;
    opacity: 0.6;
}
a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    /* border: 1px solid black; */
    /* height: 100%; */
}
a:hover{
    color: hsl(233, 26%, 24%);
    border-bottom : 4px solid hsl(136, 65%, 51%);
    /* box-sizing: border-box; */
}
.footer-social:hover{
    border: 0px solid white;
    filter: brightness(0.3);
    /* background-color: hsl(136, 65%, 51%); */
    /* background-color: white; */
}
header{
    margin-top: 1em;
    height: 4em;
    width: 100%;
    display: flex;
    /* flex-basis: 30%; */
    justify-content: space-between;
    /* margin-left: 9.4em; */
    /* border: 1px solid black; */
    .header-img{
        display: flex;
        flex-direction: row;
        /* height: 80%; */
        /* border: 1px solid black; */
        justify-content: start;
        align-items: end;
        flex-basis: 10%;
        .div-img{
            flex-basis: 10%;
            height: 30%;
            /* border: 1px solid black; */
            background-image: url('./images/logo.svg');
            background-repeat: no-repeat;
            /* border: 1px solid black; */
            flex-basis: 100%;
            height: 70%;
            /* align-items: center; */
        }
    }
    .header-center{
        display: flex;
        flex-direction: row;
        color: hsl(233, 8%, 62%);
        column-gap: 30px;
        align-items: end;
        /* border:1px solid black; */
        box-sizing: border-box;
        .home, .about, .contact, .blog, .careers{
            /* border: 1px solid black; */
            height: 2.5em;
            /* text-decoration-color: hsl(233, 8%, 62%); */
        }
    }
    .header-end{
        display: flex;
        justify-content: center;
        flex-basis: 10%;
        align-items: center;
        text-align: center;
        /* border: 1px solid black; */
        .btn{
            flex-grow: 1;
        }
        .icon{
            display: none;
        }
    }
}
content{
    .container{
        /* margin-left: 150px; */
        height: 200vh;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        /* row-gap: 40px; */
        .first{
            flex-basis: 55%;
            /* border: 1px solid black; */
            .first-container{
                display: flex;
                width: 88.5vw;
                height: 90%;                
                /* border: 1px solid black; */
                .first-container1{
                    flex-basis: 30%;
                    /* border: 1px solid black; */
                    height: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    .first-container1-1{
                        flex-basis: 92%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        /* border: 1px solid black; */
                        row-gap: 20px;
                        .first-header{
                            flex-basis: 35%;
                            /* width: 100%; */
                            color: hsl(233, 26%, 24%);
                            font-size: 310%;
                            /* padding-top: 20px; */
                            /* border: 1px solid black; */
                        }
                        .first-center{
                            flex-basis: 25%;
                            /* font-size: 22px; */
                            width: 100%;
                            color: hsl(233, 8%, 62%);
                            /* border: 1px solid black; */
                        }
                        .first-end{
                            flex-basis: 20%;
                            /* height: 100px; */
                            /* border: 1px solid black; */
                            display: flex;
                            #btn1{
                                flex-basis: 33%;
                                height: 65%;
                            }
                        }
                    }
                }
                .first-container2{
                    flex-basis: 70%;
                    background-image: url('./images/bg-intro-desktop.svg');
                    background-repeat: no-repeat;
                    background-position: -35% 60%;
                    background-size: 150% 170%;
                    align-items: end;
                    position:relative;
                    .mockups{
                        /* border: 1px solid black; */
                        width: 100%;
                        height: 136%;
                        position: absolute;
                        right: 0;
                        overflow: hidden;
                        .first-img{
                            height: 110%;
                            width: 70%;
                            margin-top: -135px;
                            margin-left: 470px;
                        }
                    }
                }
            }
        }
        .second{
            flex-basis: 12%;
            /* border: 1px solid black; */
            /* background-color: hsl(220, 16%, 96%); */
            display: flex;
            flex-direction: column;
            width: 40%;
            row-gap: 10px;
            .second-header{
                flex-basis: 50%;
                font-size: 30px;
                color: hsl(233, 26%, 24%);  
            }
            .second-end{
                width: 110%;
                color: hsl(233, 8%, 62%);
                /* font-size: 22px; */
            }
            /* box-sizing: border-box; */
            margin-bottom: 60px;
        }
        .third{
            flex-basis: 35%;
            /* border: 1px solid black; */
            display: flex;
            flex-direction: row;
            .third-container{
                display: flex;
                flex-basis: 100%;
                height: 100%;
                /* border: 1px solid black; */
                justify-content: space-between;
                column-gap: 20px;
                color: hsl(233, 8%, 62%);
                .third-first{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 25%;
                    /* justify-content: space-between; */
                    row-gap: 40px;
                    /* border: 1px solid black; */
                    .third-first-img{
                        background-image: url('./images/icon-online.svg');
                        flex-basis: 20%;
                        width: 40%;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .third-first-header{
                        font-size: 25px;
                        color: hsl(233, 26%, 24%);
                    }
                    .third-first-content{
                        /* font-size: 22px; */
                    }
                }
                .third-second{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 25%;
                    /* border: 1px solid black; */
                    /* justify-content: space-between; */
                    row-gap: 40px;
                    /* border: 1px solid black; */
                    .third-second-img{
                        background-image: url('./images/icon-budgeting.svg');
                        flex-basis: 20%;
                        width: 40%;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .third-second-header{
                        font-size: 25px;
                        color: hsl(233, 26%, 24%);
                    }
                    .third-second-content{
                        /* font-size: 22px; */
                    }
                    /* .third-first-img{
                        
                    } */
                } 
                .third-third{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 25%;
                    /* border: 1px solid black; */
                    /* justify-content: space-between; */
                    row-gap: 40px;
                    /* border: 1px solid black; */
                    .third-third-img{
                        background-image: url('./images/icon-onboarding.svg');
                        flex-basis: 20%;
                        width: 40%;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .third-third-header{
                        font-size: 25px;
                        color: hsl(233, 26%, 24%);
                    }
                    .third-third-content{
                        /* font-size: 22px; */
                    }
                    /* .third-first-img{
                        
                    } */
                } 
                .third-fourth{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 25%;
                    /* border: 1px solid black; */
                    /* justify-content: space-between; */
                    row-gap: 40px;
                    /* border: 1px solid black; */
                    .third-fourth-img{
                        background-image: url('./images/icon-api.svg');
                        flex-basis: 20%;
                        width: 40%;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .third-fourth-header{
                        font-size: 25px;
                        color: hsl(233, 26%, 24%);
                    }
                    .third-fourth-content{
                        /* font-size: 22px; */
                    }
                    /* .third-first-img{
                        
                    } */
                }
            }
        }
        .fourth{
            margin-top: 30px;
            flex-basis: 50%;
            /* border: 1px solid black; */
            /* a:hover{
                color: blue;
                text-decoration: none;
            } */
            display: flex;
            .fourth-container{
                flex-basis: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 50px;
                .fourth-header{
                    font-size: 30px;
                    color: hsl(233, 26%, 24%);
                }
                .fourth-content-container{
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    column-gap: 25px;
                    color: hsl(233, 8%, 62%);
                    justify-content: space-between;
                    /* border: 1px solid black; */
                    .title{
                        color: hsl(233, 26%, 24%);
                        /* border */
                    }
                    .title:hover{
                        color: blue;
                        border: 0px solid white;
                    }
                    .fourth-content-first{
                        /* border: 1px solid black; */
                        display: flex;
                        flex-direction: column;
                        /* justify-content: space-between; */
                        row-gap: 30px;
                        /* justify-content: center; */
                        .fourth-first-img{
                            /* border: 1px solid black; */
                            background-image: url('./images/image-currency.jpg');
                            background-repeat: no-repeat;
                            background-size: cover;
                            flex-basis: 50%;
                            width: 100%;
                        }
                        .fourth-first-container{
                            margin-left: -30px;
                            flex-basis: 50%;
                            /* border: 1px solid black; */
                            width: 73%;
                            align-self: center;
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            .fourth-first-author{
                                font-size: 12px;
                            }
                            .fourth-first-title{
                                font-size: 20px;
                                
                            }
                            .fourth-first-content{
                                font-size: 16px;
                            }
                        }
                    }
                    .fourth-content-second{
                        /* border: 1px solid black; */
                        display: flex;
                        flex-direction: column;
                        row-gap: 30px;
                        /* justify-content: center; */
                        .fourth-second-img{
                            /* border: 1px solid black; */
                            background-image: url('./images/image-restaurant.jpg');
                            background-repeat: no-repeat;
                            background-size: cover;
                            flex-basis: 50%;
                            width: 100%;
                        }
                        .fourth-second-container{
                            margin-left: -30px;
                            flex-basis: 50%;
                            /* border: 1px solid black; */
                            width: 73%;
                            align-self: center;
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            .fourth-second-author{
                                font-size: 12px;
                            }
                            .fourth-second-title{
                                font-size: 20px;
                                color: hsl(233, 26%, 24%);
                            }
                            .fourth-second-content{
                                font-size: 16px;
                            }
                        }
                    }
                    .fourth-content-third{
                        /* border: 1px solid black; */
                        display: flex;
                        flex-direction: column;
                        row-gap: 30px;
                        /* justify-content: center; */
                        .fourth-third-img{
                            /* border: 1px solid black; */
                            background-image: url('./images/image-plane.jpg');
                            background-repeat: no-repeat;
                            background-size: cover;
                            flex-basis: 50%;
                            width: 100%;
                        }
                        .fourth-third-container{
                            margin-left: -30px;
                            flex-basis: 50%;
                            /* border: 1px solid black; */
                            width: 73%;
                            align-self: center;
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            .fourth-third-author{
                                font-size: 12px;
                            }
                            .fourth-third-title{
                                font-size: 20px;
                                color: hsl(233, 26%, 24%);
                            }
                            .fourth-third-content{
                                font-size: 16px;
                            }
                        }
                    }
                    .fourth-content-fourth{
                        /* border: 1px solid black; */
                        display: flex;
                        flex-direction: column;
                        row-gap: 30px;
                        /* justify-content: center; */
                        .fourth-fourth-img{
                            /* border: 1px solid black; */
                            background-image: url('./images/image-confetti.jpg');
                            background-repeat: no-repeat;
                            background-size: cover;
                            flex-basis: 50%;
                            width: 100%;
                        }
                        .fourth-fourth-container{
                            margin-left: -30px;
                            flex-basis: 50%;
                            /* border: 1px solid black; */
                            width: 73%;
                            align-self: center;
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            .fourth-fourth-author{
                                font-size: 12px;
                            }
                            .fourth-fourth-title{
                                font-size: 20px;
                                color: hsl(233, 26%, 24%);
                            }
                            .fourth-fourth-content{
                                font-size: 16px;
                            }
                        }
                    }
                }
                /* border: 1px solid black; */
            }
        }
    }
}

footer{
    height: 170px;
    margin-left: -190px;
    background-color: hsl(233, 26%, 24%);
    color: white;
    display: flex;
    width: 99.1vw;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 50px; 
    .footer-container{
        /* margin-left: 150px; */
        flex-basis: 80%;
        height: 50%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        .footer-first{
            flex-basis: 55%;
            /* border: 1px solid black; */
            display: flex;
            flex-direction: row;
            column-gap: 1%;
            flex-wrap: wrap;
            row-gap: 10px;
            /* justify-content: space-evenl; */
            .footer-icons{
                flex-basis: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                /* border: 1px solid black; */
                 .footer-logo{
                    width: 50%;
                    flex-basis: 18%;
                    width: 60%;
                    background-image: url(./images/logo.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: flex;
                    /* border: 1px solid black; */
                    justify-content: center;
                    /* overflow: hidden; */
                    .containerlogo{
                        /* border: 1px solid black; */
                        width: 90%;
                        height: 100%;
                        margin-left: 25px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        .imglogo{   
                            /* border: 1px solid black; */
                            flex-basis: 100%;
                            height: 100%;                        
                            margin-left: -53px;
                            /* margin-top: 4px; */
                            box-sizing: border-box; 
                            /* overflow: hidden; */
                            background-image: url(./images/logo.svg);
                            filter: brightness(500%);
                            background-repeat: no-repeat;
                            background-size: contain;
                            /* transform: scale(0.8) translate(-70%, 10%); */
                        }
                    }
                    
                   
                } 
                .footer-socials{
                    flex-basis: 30%;
                    width: 55%;
                    /* border: 1px solid black; */
                    display: flex;                    
                    #fb, #yt, #twt, #pint, #insta{
                        flex-basis: 20%;
                        height: 100%;
                        /* border: 1px solid black; */
                    }
                    #fb{
                        width: 100%;
                        height: 70%;
                        background-image: url('./images/icon-facebook.svg');
                        background-size:  contain;
                        background-repeat: no-repeat;                    
                    }
                   
                    #yt{
                        width: 100%;
                        height: 70%;
                        background-image: url('./images/icon-youtube.svg');
                        background-size:  contain;
                        background-repeat: no-repeat;
                    }
                    #twt{
                        width: 100%;
                        height: 70%;
                        background-image: url('./images/icon-twitter.svg');
                        background-size:  contain;
                        background-repeat: no-repeat;
                    }
                    #pint{
                        width: 100%;
                        height: 70%;
                        background-image: url('./images/icon-pinterest.svg');
                        background-size:  contain;
                        background-repeat: no-repeat;
                    }
                    #insta{
                        width: 100%;
                        height: 70%;
                        background-image: url('./images/icon-instagram.svg');
                        background-size:  contain;
                        background-repeat: no-repeat;
                    }
                } 
            }
            .footer-details{
                display: flex;
                flex-basis: 50%;
                /* border: 1px solid black; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                /* align-items: center; */
                column-gap: 150px;
                flex-wrap: wrap;
                font-size: 15px;
                /* color: white; */
                .footer-detail{
                    color: white;
                }
                .footer-detail:hover{
                    color: hsl(136, 65%, 51%);
                    border: 0px solid white;
                }
                .footer-about, .footer-contact, .footer-blog, .footer-careers, .footer-support, .footer-policy{
                    flex-basis: 30%;                    
                }
            }
           
            /*
            .footer-about, .footer-contact, .footer-blog, .footer-careers, .footer-support, .footer-policy{
                flex-basis: 20%;
                border: 1px solid black;
                width: 25%;
            } */
        }
        .footer-second{
            flex-basis: 22%;
            /* border: 1px solid black; */
            display: flex;
            justify-content: end;
            /* align-items: center; */
            .footer-second-container{
                flex-basis: 90%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                /* border: 1px solid black; */
                .btn{
                    flex-basis: 50%;
                    width: 48%;
                }
                .btn:hover{
                    filter: brightness(100%);
                }
                .footer-second-copyright{
                    font-size: 15px;
                    color: hsl(233, 8%, 62%);
                }
            }
        }
    }
    /* border: 1px solid black; */
}
@media(max-width:375px){
    .hamburger:active{
        /* background-color: black; */
    }
    body{
        /* border: 1px solid black; */
        height: 440vh;
    }
    .body-container{
        width: 90%;
    }
    header{
        margin-top: 1%;
        /* margin-left: -11%; */
        width: 100%;
        height: 7vh;
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        /* row-gap: 100%; */
        .header-center{
            order: 3;
            display: flex;
            flex-direction: column;
            /* border: 1px solid black; */
            flex-basis: 100%;
            height: 400%;
            background-color: white;
            /* padding-top: 10%; */
            margin-top: 10%;
            margin-left: 3%;
            color: black;
            justify-content: space-evenly;
            border-radius: 2%;
            align-items: center;
            z-index: 1;
            box-shadow: 0 60px 150px 100px hsl(233, 26%, 24%);
            .home, .about, .contact, .blog, .careers{
                /* border: 1px solid black; */
                /* text-align: center; */
                color: hsl(233, 26%, 24%);
                height: 1.5em;
                /* text-decoration-color: hsl(233, 8%, 62%); */
            }
            display: none;
        }
        .header-img{
            flex-basis: 70%;
            height: 80%;
            order: 1;
            /* border: 1px solid black; */
        }
        .header-end{
            order: 2;
            flex-basis: 20%;
            height: 80%;
            /* border: 1px solid black; */
            .btn{
                display: none;
            }        
            .icon{
                display: flex;
            }
        }
    }
    content{
        width: 100%;
        /* height: 400vh; */
        /* height: 400vh; */
        /* border: 1px solid black; */
        .container{
            height: 370vh;
            width: 100%;
            /* border: 1px solid black; */
            .first {
                flex-basis: 20%;
                /* border: 1px solid black; */
                /* display: none; */
               .first-container{
                    display: flex;
                    /* border: 1px solid black; */
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 5%;
                    .first-container1{
                        flex-basis: 50%;
                        width: 90%;
                        order: 2;
                        display: flex;
                        flex-direction: row;
                        /* border: 1px solid black; */
                        .first-container1-1{
                            display: flex;
                            flex-basis: 100%;
                            height: 100%;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            /* border: 1px solid black; */
                            .first-header{
                                flex-basis: 35%;
                                width: 100%;
                                /* border: 1px solid black; */
                                font-size: 200%;
                                text-align: center;
                            }
                            .first-center{
                                flex-basis: 25%;
                                /* border: 1px solid black; */
                                font-size: 90%;
                                text-align: center;
                            }
                            .first-end{
                                flex-basis: 25%;
                                width: 100%;
                                /* border: 1px solid black; */
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                #btn1{
                                    flex-basis: 50%;    
                                    height: 70%;
                                }
                            }
                        }
                        /* display: none; */
                    }
                    .first-container2{
                        flex-basis: 48%;
                        order: 1;
                        /* border: 1px solid black; */
                        width: 99vw;
                        margin-left: 1%;
                        background-size: 150% 200%;
                        background-position: 35% 70%;
                        .mockups{
                            width: 100%;
                            height: 100%;
                            /* border: 1px solid black; */
                            /* position: relative; */
                            .first-img{
                                height: 155%;
                                width: 95%;
                                margin-left: 1.5%;
                                margin-top: -36%;
                                /* margin-bottom: 50%; */
                            }
                        }
                        /* display: none; */
                    }
                }
            }
            .second{
                flex-basis: 6%;
                width: 100%;
                /* border: 1px solid black; */
                justify-content: center;
                align-items: center;
                row-gap: 8%;
                .second-header{
                    flex-basis: 30%;
                    width: 60%;
                    font-size: 165%;
                    text-align: center;
                    /* border: 1px solid black; */
                }
                .second-end{
                    flex-basis: 45%;
                    width: 100%;
                    font-size: 80%;
                    text-align: center;
                    /* border: 1px solid black; */
                }
            }
            .third{
                flex-basis: 30%;
                width: 100%;
                /* border: 1px solid black; */
                .third-container{
                    flex-basis: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    /* row-gap: 2%; */
                    .third-first{
                        flex-basis: 22%;
                        width: 100%;
                        /* border: 1px solid black; */
                        align-items: center;
                        justify-content: space-between;
                        row-gap: 0;
                        /* div{
                            border: 1px solid black;
                        } */
                        .third-first-img{
                            flex-basis: 30%;
                            width: 20%;
                            /* border: 1px solid black; */
                        }   
                        .third-first-header{
                            flex-basis: 15%;
                            font-size: 120%;
                            width: 50%;
                            /* border: 1px solid black; */

                        }
                        .third-first-content{
                            flex-basis: 35%;
                            font-size: 80%;
                            text-align: center;
                            /* border: 1px solid black; */

                        }
                    }
                    .third-second{
                        flex-basis: 22%;
                        width: 100%;
                        /* border: 1px solid black; */
                        align-items: center;
                        justify-content: space-between;
                        row-gap: 0;
                        /* div{
                            border: 1px solid black;
                        } */
                        .third-second-img{
                            flex-basis: 30%;
                            width: 20%;
                            /* border: 1px solid black; */
                        }   
                        .third-second-header{
                            flex-basis: 15%;
                            font-size: 120%;
                            width: 64%;
                            text-align: center;
                            /* border: 1px solid black; */

                        }
                        .third-second-content{
                            flex-basis: 35%;
                            font-size: 80%;
                            text-align: center;
                            /* border: 1px solid black; */

                        }
                    }
                    .third-third{
                        flex-basis: 22%;
                        width: 100%;
                        /* border: 1px solid black; */
                        align-items: center;
                        justify-content: space-between;
                        row-gap: 0;
                        /* div{
                            border: 1px solid black;
                        } */
                        .third-third-img{
                            flex-basis: 30%;
                            width: 20%;
                            /* border: 1px solid black; */
                        }   
                        .third-third-header{
                            flex-basis: 15%;
                            font-size: 120%;
                            width: 70%;
                            text-align: center;
                            /* border: 1px solid black; */

                        }
                        .third-third-content{
                            flex-basis: 35%;
                            font-size: 80%;
                            text-align: center;
                            /* border: 1px solid black; */

                        }
                    }
                    .third-fourth{
                        flex-basis: 22%;
                        width: 100%;
                        /* border: 1px solid black; */
                        align-items: center;
                        justify-content: space-between;
                        row-gap: 0;
                        /* div{
                            border: 1px solid black;
                        } */
                        .third-fourth-img{
                            flex-basis: 30%;
                            width: 20%;
                            /* border: 1px solid black; */
                        }   
                        .third-fourth-header{
                            flex-basis: 15%;
                            font-size: 120%;
                            width: 70%;
                            text-align: center;
                            /* border: 1px solid black; */

                        }
                        .third-fourth-content{
                            flex-basis: 35%;
                            font-size: 80%;
                            text-align: center;
                            /* border: 1px solid black; */

                        }
                    }
                }
            }
            .fourth{
                flex-basis: 45%;
                width: 100%;
                /* border: 1px solid black; */
                margin-top: 40%;
                .fourth-container{
                    flex-basis: 100%;
                    height: 100%;
                    row-gap: 1.5%;
                    /* border: 1px solid black; */
                    .fourth-header{
                        flex-basis: 3%;
                        width: 100%;
                        font-size: 150%;
                        text-align: center;
                        /* border: 1px solid black; */
                    }
                    .fourth-content-container{
                        display: flex;
                        flex-direction: column;
                        flex-basis: 100%;
                        height: 100%;
                        /* border: 1px solid black; */
                        justify-content: space-between;
                        row-gap: 0;
                        .fourth-content-first{
                            flex-basis: 22%;
                            width: 100%;
                            /* border: 1px solid black; */
                            justify-content: space-between;
                            align-items: center;
                            row-gap: 0;
                            .fourth-first-img{
                                flex-basis: 50%;
                                width: 100%;
                                /* border: 1px solid black; */
                            }
                            .fourth-first-container{
                                flex-basis: 40%;
                                width: 85%;
                                /* border: 1px solid black; */
                                margin-left: 0;
                                .fourth-first-author{
                                    flex-basis: 10%;
                                    /* border: 1px solid black; */
                                }
                                .fourth-first-title{
                                    font-size: 90%;
                                    width: 100%;
                                    flex-basis: 30%;
                                    /* border: 1px solid black; */
                                }
                                .fourth-first-content{
                                    font-size: 70%;
                                    flex-basis: 40%;
                                    /* border: 1px solid black; */
                                }
                            }
                        }
                        .fourth-content-second{
                            flex-basis: 22%;
                            width: 100%;
                            /* border: 1px solid black; */
                            justify-content: space-between;
                            align-items: center;
                            row-gap: 0;
                            .fourth-second-img{
                                flex-basis: 50%;
                                width: 100%;
                                /* border: 1px solid black; */
                            }
                            .fourth-second-container{
                                flex-basis: 40%;
                                width: 85%;
                                /* border: 1px solid black; */
                                margin-left: 0;
                                .fourth-second-author{
                                    flex-basis: 10%;
                                    /* border: 1px solid black; */
                                }
                                .fourth-second-title{
                                    font-size: 90%;
                                    width: 100%;
                                    flex-basis: 30%;
                                    /* border: 1px solid black; */
                                }
                                .fourth-second-content{
                                    font-size: 70%;
                                    flex-basis: 40%;
                                    /* border: 1px solid black; */
                                }
                            }
                        }
                        .fourth-content-third{
                            flex-basis: 22%;
                            width: 100%;
                            /* border: 1px solid black; */
                            justify-content: space-between;
                            align-items: center;
                            row-gap: 0;
                            .fourth-third-img{
                                flex-basis: 50%;
                                width: 100%;
                                /* border: 1px solid black; */
                            }
                            .fourth-third-container{
                                flex-basis: 40%;
                                width: 85%;
                                /* border: 1px solid black; */
                                margin-left: 0;
                                .fourth-third-author{
                                    flex-basis: 10%;
                                    /* border: 1px solid black; */
                                }
                                .fourth-third-title{
                                    font-size: 90%;
                                    width: 100%;
                                    flex-basis: 30%;
                                    /* border: 1px solid black; */
                                }
                                .fourth-third-content{
                                    font-size: 70%;
                                    flex-basis: 40%;
                                    /* border: 1px solid black; */
                                }
                            }
                        }
                        .fourth-content-fourth{
                            flex-basis: 22%;
                            width: 100%;
                            /* border: 1px solid black; */
                            justify-content: space-between;
                            align-items: center;
                            row-gap: 0;
                            .fourth-fourth-img{
                                flex-basis: 50%;
                                width: 100%;
                                /* border: 1px solid black; */
                            }
                            .fourth-fourth-container{
                                flex-basis: 40%;
                                width: 85%;
                                /* border: 1px solid black; */
                                margin-left: 0;
                                .fourth-fourth-author{
                                    flex-basis: 10%;
                                    /* border: 1px solid black; */
                                }
                                .fourth-fourth-title{
                                    font-size: 90%;
                                    width: 100%;
                                    flex-basis: 30%;
                                    /* border: 1px solid black; */
                                }
                                .fourth-fourth-content{
                                    font-size: 70%;
                                    flex-basis: 40%;
                                    /* border: 1px solid black; */
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        /* display: none; */
        /* margin-top: 12.5vh; */
        height: 60vh;
        width: 100vw;
        margin-left: -5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
        /* background-color: black; */
        color: white;
        .footer-container{
            margin-top: 10%;
            flex-basis: 60%;
            height: 80%;
            /* border: 1px solid white; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .footer-first{
                flex-basis: 75%;
                width: 100%;
                /* border: 1px solid white; */
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 0;
                .footer-icons{
                    flex-basis: 30%;
                    width: 100%;
                    /* border: 1px solid white; */
                    justify-content: space-between;
                    align-items: center;
                    .footer-logo{
                        flex-basis: 20%;
                        width: 80%;
                        align-items: end;
                        justify-content: end;
                        /* align-self: end; */
                        /* border: 1px solid white; */
                        .containerlogo{
                            flex-basis: 85%;
                            height: 100%;
                            /* border: 1px solid white; */
                            margin-left: 16%;
                            /* padding-left: -80%; */
                            /* box-sizing: border-box; */
                            display: flex;
                            justify-content: start;
                            /* align-items: end; */
                            overflow: hidden;
                            /* justify-content: cn; */
                            .imglogo{
                                flex-basis: 100%;
                                /* width: 100%; */
                                height: 100%;
                                /* margin-left: -10%; */
                                /* padding-right: -100%; */
                                transform: translate(15%, 0);
                                background-size: cover;
                                /* border: 1px solid white;     */
                            }
                        }
                    }
                    .footer-socials{
                        flex-basis: 40%;
                        width: 90%;
                        justify-content: space-between;
                        display: flex;
                        /* border : 1px solid white; */
                        #fb, #yt, #twt, #pint, #insta{
                            flex-basis: 15%;
                            height: 60%;
                            /* border: 1px solid white; */
                        }
                    }
                }
                .footer-details{
                    /* justify-content: space-between; */
                    column-gap: 0;
                    width: 100%;
                    flex-basis: 68%;
                    /* border: 1px solid white; */
                    .footer-about, .footer-contact, .footer-blog, .footer-careers, .footer-support, .footer-policy{
                        flex-basis: 15%;
                        width: 100%;
                        /* border: 1px solid white; */
                        text-align: center;
                    }
                }
            }
            .footer-second{
                flex-basis: 23%;
                width: 100%;
                /* border: 1px solid white; */
                justify-content: center;
                .footer-second-container{
                    flex-basis: 100%;
                    height: 100%;
                    /* border: 1px solid white; */
                    justify-content: space-between;
                    align-items: center;                    
                    .btn{
                        width: 70%;
                        flex-basis: 40%;
                    }
                    .footer-second-copyright{
                        flex-basis: 30%;
                        width: 100%;
                        /* border: 1px solid white; */
                        font-size: 80%;
                    }
                }
                /* border: 1px solid black; */

            }
        }
    }
}